@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark Theme Colors */
  --bg-primary: #111827;
  --bg-surface: #1F2937;
  --text-primary: #F9FAFB;
  --text-secondary: #D1D5DB;
  --color-primary: #6366F1;
  --color-secondary: #34D399;
  --border-color: rgba(249, 250, 251, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.2);
}